#homePage-wrap
  .content
    .header
      p.company-name {{ companyName }}
      div(class="wing left")
        p 最省心的智慧工地平台
        //- span(@click="$router.go(-1)") 返回
      div(class="wing right")
        p {{ citySpace }}
        p(v-show="weather")
          i(:class="weatherClass")
          span {{ temperature }}℃
          p {{ time }}
    .body
      .left
        //- 打卡情况
        .click-card
          .title
            i.click-card-img
            p 打卡情况
            //- span 查看更多
            //-   i.el-icon-arrow-right
          .circle
            //- 管理打卡
            .management
              img(src="~static/company-circle.png")
              .people
                p 管理人员
                p
                  span {{ managementClick }} 人
            //- 工人打卡
            .worker
              img(src="~static/company-circle.png")
              .people
                p 建筑工人
                p
                  span {{ workerClick }} 人
            //- 在岗人数
            .onGuard
              img(src="~static/company-circle.png")
              .people
                p 在岗人数
                p
                  span {{ onGuard }} 人
          #click-card
          el-date-picker( class="date-picker" v-model="clickTime" type="week" format="yyyy 第 WW 周" :clearable="false" prefix-icon="none" @change="confirmTime('clickTime')" :picker-options="{ firstDayOfWeek: 1 }")
      .center
        #map
          .company-project
            .project(v-for="(value, name) in projectList" :key="name")
              i(:class="name == 'normal' ? 'normal' : name == 'abnormal' ? 'abnormal' : name == 'complete' ? 'complete' : ''")
              p {{ value.value }}
              span {{ value.num }}
            .allProject
              p 累计工程数量
              .border
                span(v-for="item in 5" :key="item")
                  p {{ allProject[item-1] }}
        .bottom
          //- 塔吊检测
          .margin
            .title
              i.tower-img
              p 塔吊监测
              span(@click="toPage('/menu/towerCrane')") 查看更多
                i.el-icon-arrow-right
            .status-vertical
              div
                i.quantity
                p 设备数量：{{ marginOnOff.total }}
              div
                i.on-line
                p 在线：{{ marginOnOff.onLine }}
              div
                i.off-line
                p 离线：{{ marginOnOff.offLine }}
            .margin-animation
              .margin-animationing
                div
                img(src="~static/margin-animation-two.png")
              //- .margin-list
              //-   p 塔吊报警统计
              //-   .list( v-for="(value, name) in marginAlarmObject" :key="name" )
              //-     div(:style="{color: value.color}")
              //-     p {{ value.value }}
              //-     span(:style="{ color: value.color }") {{ value.num }}
          //- 升降机检测
          .lifter
            .title
              i.lifter-img
              p 升降机检测
              span(@click="toPage('/menu/towerLift')") 查看更多
                i.el-icon-arrow-right
            .status-vertical
              div
                i.quantity
                p 设备数量：{{ lifterOnOff.total }}
              div
                i.on-line
                p 在线：{{ lifterOnOff.onLine }}
              div
                i.off-line
                p 离线：{{ lifterOnOff.offLine }}
            .lifter-list-wrap
              //- .lifter-list(v-for="item in lifterAlarmObject" :key="item.value.value")
              //-   div(:style="{ background: item.color }")
              //-   p {{ item.value }}
              //-   span(:style="{ color: item.color }") {{ item.num }}
            .lifter-bg
      .right
        //- 视频监控
        .lifter
          .title
            i.lifter-img
            p 视频监控
            span(@click="toPage('/menu/videoPage')") 查看更多
              i.el-icon-arrow-right
          .status-crosswise
            div
              i.quantity
              p 设备数量：{{ VideoOnOff.total }}
            div
              i.on-line
              p 接入项目数：{{ VideoOnOff.onLine }}
            div
              //- i.off-line
          .video-list-wrap
            .video-wrap(v-for="(item, index) in videoList" :key="item.id")
              video(playsinline webkit-playsinline autoplay width="100%" height="100%" controls :id="`player${index + 1}`")
                source(:src="item.hdurl")
                source(:src="item.hdurl" type="application/x-mpegURL")
        //- 环境检测
        .environment
          .title
            i.environment-img
            p 环境检测
            span(@click="toPage('/menu/surroundings')") 查看更多
              i.el-icon-arrow-right
          .status-crosswise
            div
              i.quantity
              p 设备数量：{{ environmentOnOff.total }}
            div
              i.on-line
              p 在线：{{ environmentOnOff.onLine }}
            div
              i.off-line
              p 离线：{{ environmentOnOff.offLine }}
          #environment
          .environment-bg
    p.footer 虎匠科技技术支持